<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>960448897359-a2a5no278eirnglgdu8q7va9sbq8t9ct.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.960448897359-a2a5no278eirnglgdu8q7va9sbq8t9ct</string>
	<key>API_KEY</key>
	<string>AIzaSyASkbHiTDXBoGDInfHJc8ILFwl49raWPh8</string>
	<key>GCM_SENDER_ID</key>
	<string>960448897359</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.fitnessAppMvvm</string>
	<key>PROJECT_ID</key>
	<string>fitmobileapp</string>
	<key>STORAGE_BUCKET</key>
	<string>fitmobileapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:960448897359:ios:bfa21fe51b0dbe1892653a</string>
</dict>
</plist>